.list {
    list-style-type: none;
    flex-direction: row;
    padding: 20px;
    display: inline-block;
        width: 500px;
        min-height: 50px;
        height: auto;
}

.input {
    position: fixed;
}

.label-example{
    list-style-type: none;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  .Example {
      background-image: url(./tutorialImage.PNG);
  }

  .center {
    display: inline-block;
    margin: 4px 2px;
    width: 200px;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .centerRow2 {
    display: inline-block;
    margin: 4px 2px;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .centerRow3 {
    display: inline-block;
    margin: 4px 2px;
    width: 200px;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .centerRow4 {
    display: inline-block;
    margin: 4px 2px;
    width: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .centerRow5 {
    display: inline-block;
    margin: 4px 2px;
    width: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .bottomRow {
    margin: 0;
    bottom: 5%;
    position: absolute;
    left: 25px;
  }

  .right-align {
      margin: 0;
      bottom: 5%;
      position: absolute;
      right: 25px;
  }

